---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-family-base: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$brand-primary:        #063347; /*darken(#428bca, 50%) !default;*/
$link-color: lighten($brand-primary, 15%);
$navbar-inverse-bg: $brand-primary;
$navbar-inverse-border: darken($brand-primary, 10%);
$iridakos-secondary-color: #c4610b;
$font-size-base:          16px;

@import "bootstrap",
        "iridakos",
        "posts",
        "syntax_highlight";
