---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-family-base: 'Roboto', sans-serif;

$brand-primary: #0084B4; /*darken(#428bca, 50%) !default;*/
$link-color: $brand-primary;
$navbar-inverse-bg: #2f2f2f;
$navbar-inverse-border: darken($navbar-inverse-bg, 2%);
$iridakos-secondary-color: #ff7e07;
$secondary-text-color: #888;
$font-size-base:          16px;
$navbar-inverse-link-color: $iridakos-secondary-color;
$secondary-font-family: 'Roboto', sans-serif;

@import "bootstrap",
        "iridakos",
        "posts",
        "syntax_highlight";
