---
layout: page
menu_title: tutorials
title: tutorials
permalink: /tutorials/
show_in_header: true
description: Programming tutorials for Ruby, Ruby on Rails, Gtk, Elasticsearch and more
subtitle: my programming tutorials for Ruby, Rails, Gtk, Elasticsearch etc.
---

<div class="posts-container">
    {% for my_post in site.posts %}
      {% if my_post.category %}
        {% if my_post.category == 'tutorials' %}
          <div class="post-container">
            <div class="post-metadata">
                <small><span class="post-meta">{{ my_post.date | date: "%b %-d, %Y" }}</span></small>
            </div>

            <div class="post-title">
                <a href="{{ my_post.url }}">{{ my_post.title }}</a>
            </div>

            <div class="post-preview" data-goto="{{ my_post.url }}">
              {% if my_post.preview %}
                {{ my_post.preview }}
              {% else %}
                {{ my_post.excerpt }}
              {% endif %}
            </div>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
</div>
