---
layout: page
menu_title: tutorials
title: tutorials
permalink: /tutorials/
show_in_header: true
description: Programming tutorials for Ruby, Ruby on Rails, Gtk, Elasticsearch and more
subtitle: my programming tutorials for Ruby, Rails, Gtk, Elasticsearch etc.
---

<div class="posts-container">
    {% for my_post in site.posts %}
      {% if my_post.category %}
        {% if my_post.category == 'tutorials' %}
          {% include _post.html post=my_post hide_category=true %}
        {% endif %}
      {% endif %}
    {% endfor %}
</div>

<div class="sharing" style="text-align: right">
  Subscribe only to <a class="ga-event-link" data-event-label="{{ page.title }}" data-event-category="Subscribe only to tutorial RSS" data-event-action="click" href="{{ "/feeds/tutorials.xml" | prepend: site.baseurl }}">tutorial posts RSS <i class="fa fa-rss"></i></a>
</div>
