---
layout: page
menu_title: humor
title: humor
permalink: /humor/
show_in_header: true
description: "Attempts to make humor. Geek humor."
subtitle: some of my attempts to make humor
---

<div class="posts-container">
    {% for my_post in site.posts %}
      {% if my_post.category %}
        {% if my_post.category == 'humor' %}
          <div class="post-container">
            <div class="post-metadata">
                <small><span class="post-meta">{{ my_post.date | date: "%b %-d, %Y" }}</span></small>
            </div>
            
            <div class="post-title">
                <a href="{{ my_post.url }}">{{ my_post.title }}</a>
            </div>

            <div class="post-preview">
              {{ my_post.preview }}
            </div>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
</div>

<h1>tweets</h1>

<hr />

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">git config --global alias.yolo &quot;push --force&quot;<a href="https://twitter.com/hashtag/monday?src=hash&amp;ref_src=twsrc%5Etfw">#monday</a></p>&mdash; Lazarus Lazaridis (@lazaru_s) <a href="https://twitter.com/lazaru_s/status/785393714197856256?ref_src=twsrc%5Etfw">October 10, 2016</a></blockquote>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Me too, but life&#39;s hard. <a href="https://t.co/Z0eixH68Ry">pic.twitter.com/Z0eixH68Ry</a></p>&mdash; Lazarus Lazaridis (@lazaru_s) <a href="https://twitter.com/lazaru_s/status/933982731385663488?ref_src=twsrc%5Etfw">November 24, 2017</a></blockquote>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
