---
layout: default
menu_title:  how to
title: iridakos - how to
category_match: how-to
permalink: /how-to/
show_in_header: true
description: "How to and tips mostly related to programming"
subtitle: how to and tips mostly related to programming
redirect_from:
  - /tips/
---

<div class="posts-container">
    {% for my_post in site.posts %}
      {% if my_post.category %}
        {% if my_post.category == 'how-to' %}
          {% include _post.html post=my_post hide_category=true %}
          <hr class="separator">
        {% endif %}
      {% endif %}
    {% endfor %}
</div>
