---
layout: page
menu_title: humor
title: humor
permalink: /humor/
show_in_header: true
description: "Attempts to make humor. Geek humor."
subtitle: some of my attempts to make humor
---

<div class="posts-container">
    {% for my_post in site.posts %}
      {% if my_post.category %}
        {% if my_post.category == 'humor' %}
          <div class="post-container">
            <div class="post-metadata">
                <small><span class="post-meta">{{ my_post.date | date: "%b %-d, %Y" }}</span></small>
            </div>

            <div class="post-title">
                <a href="{{ my_post.url }}">{{ my_post.title }}</a>
            </div>

            <div class="post-preview">
              {{ my_post.preview }}
            </div>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
</div>
