---
layout: page
menu_title:  tips
title: tips
permalink: /tips/
show_in_header: true
description: "Programming tips and tricks"
subtitle:
---

<div class="posts-container">
    {% for my_post in site.posts %}
      {% if my_post.category %}
        {% if my_post.category == 'tips' %}
          <div class="post-container">
            <div class="post-title">
                <a href="{{ my_post.url }}">{{ my_post.title }}</a>
            </div>

            <div class="post-preview">
              {{ my_post.preview }}
            </div>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
</div>
