---
layout: default
menu_title: tags
title: "tags"
permalink: /tags/
show_in_header: true
description: "Tags"
subtitle: browse posts via their tags
tag_js: true
---

<div class="tag-results posts-container">

</div>

<div class="alert alert-primary iridakos-alert">
  <h3>All tags</h3>

  <div class="tags">
    {% assign all_tags = '' | split: '' %}

    {% for post in site.posts %}
      {% assign all_tags = all_tags | concat: post.tags %}
    {% endfor %}

    {% assign all_tags = all_tags | uniq | sort %}

    {% for tag in all_tags %}
      <a class="alert-link ga-event-link" data-event-label="{{ tag }}" data-event-action="click" data-event-category="tags" href="/tags/?tag={{tag}}">{{tag}}</a>{% if forloop.last != true %}{% endif %}
    {% endfor %}
  </div>
</div>
