---
layout: default
title: "home"
image: "http://iridakos.com/assets/images/header-back.jpg"
description: "My name is Lazarus Lazaridis && I am a developer && this is my personal blog."
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>{% if post.category %}<span class="post-category"> <span class="separator">|</span> {{ post.category }}</span>{% endif %}

        <h2 class="post-container">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl | replace: '.html', '' }}">
            {{ post.title }}
          </a>

          {% if post.preview %}
            <div class="post-preview">
              {{ post.preview }}
            </div>
          {% endif %}
        </h2>
      </li>
    {% endfor %}
  </ul>

  <div class="pagination">
  {% if paginator.total_pages > 1 %}
    <div class="more">
      <i class="fa fa-list"></i>
      <span>There are more to see...</span>
      <div class="right">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">previous</a>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">next</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
