---
layout: default
title: iridakos
meta_title: iridakos
image: "https://iridakos.com/assets/images/site.png"
comments: false
is_home: true
menu_title: iridakos
subtitle: <a href="/about/">Lazarus Lazaridis</a>' personal blog with posts mostly related to programming and opensource. <br>And <a href="/cat-photos">cats</a>.<br><br><a href="https://github.com/iridakos" class="btn bg-dark text-white btn-sm"><i class="fa fa-github"></i> github</a> <a href="http://twitter.com/lazaru_s" class="btn bg-dark text-white btn-sm"><i class="fa fa-twitter"></i> twitter</a>
description: Personal blog of Lazarus Lazaridis with programming tutorials, tips and open source related posts.
---

<div class="posts-container">
  {% for post in paginator.posts %}
      {% include _post.html post=post %}
      <hr class="separator">
  {% endfor %}
</div>

{% include paginator.html %}
