<div class="post">
  <div class="post-metadata">
    <div class="post-date" title="published on">
      {{ include.post.date | date: "%b %-d, %Y" }}
    </div>

    {% if include.hide_category != true %}
      <span class="separator">@</span>

      <div class="post-category" title="at category">
        {{ include.post.category }}
      </div>
    {% endif %}
  </div>
  <div class="post-title">
    <a href="{{ include.post.url | prepend: site.baseurl }}">
      {{ include.post.title }}
    </a>
  </div>

  <div class="post-preview">
    <div data-goto="{{ include.post.url | prepend: site.baseurl }}">
      {% if include.post.preview %}
        {{ include.post.preview }}
      {% else %}
        {{ include.post.excerpt }}
      {% endif %}
    </div>

    {% assign tag_size = include.post.tags | size %}
    {% if tag_size > 0 %}
      <div class="post-tags">
        <span class="">tags:</span>
        {% for tag in include.post.tags %}
          <a href="/tags/?tag={{tag}}" class="ga-event-link" data-event-label="{{ tag }}" data-event-action="click" data-event-category="tags">{{ tag }}</a>{% if forloop.last != true %} - {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
