<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li><a href="https://www.github.com/iridakos/"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>

          <li><a href="https://www.twitter.com/lazaru_s/"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>

          <li><a href="https://www.linkedin.com/in/lazaruslazaridis/"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <p><strong>© 2017 Lazarus Lazaridis, all rights reserved</strong></p>
      </div>
    </div>

  </div>

</footer>
