<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="footer-header">
                    <a href="https://iridakos.com"><strong>iridakos</strong></a>
                </div>

                <ul class="list-unstyled list-inline">
                    <li><a class="ga-event-link" data-event-category="Footer links" data-event-action="click" data-event-label="GitHub" href="https://www.github.com/iridakos/"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
                    <li><a class="ga-event-link" data-event-category="Footer links" data-event-action="click" data-event-label="Twitter" href="https://www.twitter.com/lazaru_s/"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                    <li><a class="ga-event-link" data-event-category="Footer links" data-event-action="click" data-event-label="LinkedIn" href="https://www.linkedin.com/in/lazaruslazaridis/"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
                </ul>

                <p class="copyright">
                  <small>© 2018 Lazarus Lazaridis, all rights reserved</small>
                </p>
            </div>
        </div>
    </div>
</footer>
