<footer class="footer">
  <div class="container-fluid no-gutters">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="brand">
          <a href="https://iridakos.com"><strong>iridakos</strong></a>
        </div>

        <div class="contact-links">
          <a class="ga-event-link" data-event-category="Footer links" data-event-action="click" data-event-label="GitHub" href="https://www.github.com/iridakos/"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
          <a class="ga-event-link" data-event-category="Footer links" data-event-action="click" data-event-label="Twitter" href="https://www.twitter.com/lazaru_s/"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
          <a class="ga-event-link" data-event-category="Footer links" data-event-action="click" data-event-label="LinkedIn" href="https://www.linkedin.com/in/iridakos/"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
        </div>

        <div class="license">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">iridakos</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://iridakos.com/about/" property="cc:attributionName" rel="cc:attributionURL">Lazarus Lazaridis</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
