<nav class="navbar navbar-expand-lg navbar-light iridakos-navbar">
  <div class="container-fluid no-gutters">
    {% if page.is_home %}
      {% assign menu_class = 'active' %}
    {% else %}
      {% assign menu_class = '' %}
    {% endif %}

    <a class="navbar-brand {{ menu_class }}" href="/" alt="home">
      <img src="/assets/images/irida-favicon-grey.png" class="mr-1">
      home
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-pages" aria-controls="header-pages" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="header-pages">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% for my_page in site.pages %}
          {% if my_page.show_in_header %}
            {% if page.is_post %}
              {% if page.category == my_page.title or page.category == my_page.category_match %}
                {% assign menu_class = 'active' %}
              {% else %}
                {% assign menu_class = '' %}
              {% endif %}
            {% else %}
              {% if page.path == my_page.path %}
                {% assign menu_class = 'active' %}
              {% else %}
                {% assign menu_class = '' %}
              {% endif %}
            {% endif %}
            <li class="nav-item {{ menu_class }}">
                <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}" alt="{{ my_page.title }}">{{ my_page.menu_title }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if page.is_cat %}
          {% assign menu_class = 'active' %}
        {% else %}
          {% assign menu_class = '' %}
        {% endif %}

        <li class="nav-item {{ menu_class }}">
            <a class="nav-link" href="/cat-photos/" alt="cats">cats <svg aria-hidden="true" style="height: 16px" data-prefix="fas" data-icon="cat" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-cat fa-w-16"><path fill="currentColor" d="M290.59 192c-20.18 0-106.82 1.98-162.59 85.95V192c0-52.94-43.06-96-96-96-17.67 0-32 14.33-32 32s14.33 32 32 32c17.64 0 32 14.36 32 32v256c0 35.3 28.7 64 64 64h176c8.84 0 16-7.16 16-16v-16c0-17.67-14.33-32-32-32h-32l128-96v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V289.86c-10.29 2.67-20.89 4.54-32 4.54-61.81 0-113.52-44.05-125.41-102.4zM448 96h-64l-64-64v134.4c0 53.02 42.98 96 96 96s96-42.98 96-96V32l-64 64zm-72 80c-8.84 0-16-7.16-16-16s7.16-16 16-16 16 7.16 16 16-7.16 16-16 16zm80 0c-8.84 0-16-7.16-16-16s7.16-16 16-16 16 7.16 16 16-7.16 16-16 16z" class=""></path></svg></a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0" method="get" action="/search">
        <div class="input-group input-group-sm mr-sm-2">
          <input class="form-control" name="query" type="search" placeholder="Search the blog">

          <div class="input-group-append">
            <button class="btn btn-warning" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>

<div class="page-title-container">
  <div class="spiral flipped">

  </div>

  <div class="container-fluid no-gutters">
    <div class="page-title">
      <div class="row">
        <div class="col">
          <h1>{{ page.title }}</h1>
          <div class="page-subtitle">
            {% if page.subtitle %}{{ page.subtitle }}{% else %}{{ page.description }}{% endif %}

            {% if page.is_post %}
              <div class="post">
                <div class="post-metadata">
                  <div class="post-date" title="published on">
                    Published on <span class="important">{{ page.date | date: "%b %-d, %Y" }}</span>
                  </div>

                  <div class="post-category" title="at category">
                    at category <span class="important">{{ page.category }}</span>
                  </div>
                </div>

                {% assign tag_size = page.tags | size %}
                {% if tag_size > 0 %}
                  <div class="post-tags">
                    <span class="important">tags:</span>
                    {% for tag in page.tags %}
                      <a href="/tags/?tag={{tag}}" class="ga-event-link" data-event-label="{{ tag }}" data-event-action="click" data-event-category="tags">{{ tag }}</a>{% if forloop.last != true %} - {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endif %}

            {% if page.is_cat and page.is_index != true %}
              <div class="post">
                <div class="post-metadata">
                  <div class="post-date" title="published on">
                    Photo date: <span class="important">{{ page.date | date: "%b %-d, %Y" }}</span>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="spiral">

  </div>
</div>
