<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid no-gutters">
    {% if page.is_home %}
      {% assign menu_class = 'active' %}
    {% else %}
      {% assign menu_class = '' %}
    {% endif %}

    <a class="navbar-brand {{ menu_class }}" href="/" alt="home"><img src="/assets/images/irida-favicon-grey.png">
      home
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-pages" aria-controls="header-pages" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="header-pages">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% for my_page in site.pages %}
          {% if my_page.show_in_header %}
            {% if page.is_post %}
              {% if page.category == my_page.title or page.category == my_page.category_match %}
                {% assign menu_class = 'active' %}
              {% else %}
                {% assign menu_class = '' %}
              {% endif %}
            {% else %}
              {% if page.path == my_page.path %}
                {% assign menu_class = 'active' %}
              {% else %}
                {% assign menu_class = '' %}
              {% endif %}
            {% endif %}
            <li class="nav-item {{ menu_class }}">
                <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}" alt="{{ my_page.title }}">{{ my_page.menu_title }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if page.is_cat %}
          {% assign menu_class = 'active' %}
        {% else %}
          {% assign menu_class = '' %}
        {% endif %}

        <li class="nav-item {{ menu_class }}">
            <a class="nav-link" href="/cat-photos" alt="cats">cats</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0" method="get" action="/search">
        <div class="input-group input-group-sm mr-sm-2">
          <input class="form-control" name="query" type="search" placeholder="Search the blog">

          <div class="input-group-append">
            <button class="btn btn-warning" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>

<div class="page-title-container">
  <div class="container-fluid no-gutters">
    <div class="page-title">
      <div class="row">
        <div class="col">
          <h1>{{ page.title }}</h1>
          <div class="page-subtitle">
            {% if page.subtitle %}{{ page.subtitle }}{% else %}{{ page.description }}{% endif %}

            {% if page.is_post %}
              <div class="post">
                <div class="post-metadata">
                  <div class="post-date" title="published on">
                    Published on <span class="important">{{ page.date | date: "%b %-d, %Y" }}</span>
                  </div>

                  <div class="post-category" title="at category">
                    at category <span class="important">{{ page.category }}</span>
                  </div>
                </div>

                {% assign tag_size = page.tags | size %}
                {% if tag_size > 0 %}
                  <div class="post-tags">
                    <span class="important">tags:</span>
                    {% for tag in page.tags %}
                      <a href="/tags/?tag={{tag}}" class="ga-event-link" data-event-label="{{ tag }}" data-event-action="click" data-event-category="tags">{{ tag }}</a>{% if forloop.last != true %} - {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endif %}

            {% if page.is_cat and page.is_index != true %}
              <div class="post">
                <div class="post-metadata">
                  <div class="post-date" title="published on">
                    Photo date: <span class="important">{{ page.date | date: "%b %-d, %Y" }}</span>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="spiral">

  </div>
</div>
