<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {% if page.is_home %}
              {% assign menu_class = 'active' %}
            {% else %}
              {% assign menu_class = '' %}
            {% endif %}
            <a class="navbar-brand {{ menu_class }}" href="/" alt="home"><img src="/assets/images/irida-secondary.png"> iridakos</a>
        </div>

        <div class="collapse navbar-collapse" id="site-navbar-collapse">
            <ul class="nav navbar-nav">
                {% for my_page in site.pages %}
                  {% if my_page.show_in_header %}
                      <li>
                          {% if page.is_post %}
                            {% if page.category == my_page.title %}
                              {% assign menu_class = 'active' %}
                            {% else %}
                              {% assign menu_class = '' %}
                            {% endif %}
                          {% else %}
                            {% if page.path == my_page.path %}
                              {% assign menu_class = 'active' %}
                            {% else %}
                              {% assign menu_class = '' %}
                            {% endif %}
                          {% endif %}
                          <a class="page-link {{ menu_class }}" href="{{ my_page.url | prepend: site.baseurl }}" alt="{{ my_page.title }}">{{ my_page.menu_title }}</a>
                      </li>
                  {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
