<div class="news-panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-newspaper-o" aria-hidden="true"></i> news</h3>
    </div>

    <div class="panel-body">
      <p><strong><a  class="ga-event-link" data-event-label="DuckRails GitHub" data-event-action="click" data-event-category="News links" href="https://github.com/iridakos/duckrails" target="_blank">DuckRails</a></strong> version <strong>2.1.2</strong> is out and it is now possible to run the application <a class="ga-event-link" data-event-label="DuckRails GitHub docker wiki" data-event-action="click" data-event-category="News links" href="https://github.com/iridakos/duckrails/wiki/Setup-DuckRails-via-Docker" target="_blank">via its docker image</a>.</p>

      <p><a class="github-button" href="https://github.com/iridakos/duckrails" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star iridakos/duckrails on GitHub">Star</a></p>

      <hr/>

      <p>I published a tutorial <a class="ga-event-link" data-event-label="Ruby does GTK" data-event-action="click" data-event-category="News links" href="https://iridakos.com/tutorials/2018/01/25/creating-a-gtk-todo-application-with-ruby">creating a Linux Desktop Application with Ruby</a>.</p>
    </div>
</div>
