<div class="alert alert-primary">
  <div class="sidebar-section">
    <div class="section-title">
      <h4>
        <i class="fa fa-github"></i> code
      </h4>

      <div class="float-right">

      </div>
    </div>

    <div class="section-content">
      <div class="section-item">
        <a class="alert-link ga-event-link" data-event-label="goto repo" data-event-action="click" data-event-category="News github link" href="https://github.com/iridakos/goto">goto</a>: a tool for navigating to aliased directories in the shell with auto complete
      </div>

      <div class="section-item">
        <a class="alert-link ga-event-link" data-event-label="elman repo" data-event-action="click" data-event-category="News github link" href="https://github.com/iridakos/elman">elman</a>: a script for full text searching Linux man pages with Elasticsearch
      </div>

      <div class="section-item">
        <a class="alert-link ga-event-link" data-event-label="duckrails repo" data-event-action="click" data-event-category="News github link" href="https://github.com/iridakos/duckrails">DuckRails</a>
        version <span class="important">2.1.5</span> is out <img src="/assets/images/news/duckrails.png" class="logo" /> (<a class="ga-event-link" data-event-label="DuckRails GitHub docker wiki" data-event-action="click" data-event-category="News links" href="https://github.com/iridakos/duckrails/wiki/Setup-DuckRails-via-Docker" target="_blank">docker image available</a>)
      </div>
    </div>
  </div>
</div>

<div class="alert alert-primary">
  <div class="sidebar-section">
    <div class="section-title">
      <h4>
        <i class="fa fa-newspaper-o"></i> News
      </h4>
    </div>

    <div class="section-content">
      <div class="section-item">
        I published a post for <a href="https://iridakos.com/tutorials/2019/04/04/creating-chat-application-rails-websockets.html">building a chat application with Rails and WebSockets (ActionCable)</a> and another one for <a href="{% post_url 2019-04-07-dockerizing-a-rails-application %}">dockerizing it and running it in Docker</a>.
      </div>

      <div class="section-item">
        I changed the blog's license to <a href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
      </div>

      <div class="section-item">
        Cat photos section is <a class="alert-link ga-event-link" data-event-label="news link" data-event-action="click" data-event-category="Programming cats" href="/cat-photos/">here</a>.

        <a class="alert-link ga-event-link" data-event-label="news link" data-event-action="click" data-event-category="Programming cats" href="/programming-cats">
          <img src="/assets/images/programming-cat/css-stackoverflow.jpg" class="w-100 sidebar-img mt-3 mb-3" />
        </a>
      </div>
    </div>
  </div>
</div>
