{% if page.is_home %}
  <div class="alert alert-primary">
    <div class="sidebar-section">
      <div class="section-title">
        <h4>
          <i class="fa fa-bullhorn"></i> news
        </h4>
      </div>

      <div class="section-content">
        <div class="section-item">
          I published a post for <a href="https://iridakos.com/tutorials/2019/04/04/creating-chat-application-rails-websockets.html">building a chat application with Rails and WebSockets (ActionCable)</a> and another one for <a href="{% post_url 2019-04-07-dockerizing-a-rails-application %}">dockerizing it and running it in Docker</a>.
        </div>

        <div class="section-item">
          I changed the blog's license to <a href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
        </div>

        <div class="section-item">
          Cat photos section is <a class="ga-event-link" data-event-label="news link" data-event-action="click" data-event-category="Programming cats" href="/cat-photos/">here</a>.
        </div>
      </div>
    </div>
  </div>
{% endif %}
