<div class="panel panel-default news-panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-comments" aria-hidden="true"></i> Popular posts</h3>
    </div>

    <div class="panel-body">
        {% for my_post in site.posts %}
          {% if my_post.popular %}
            <div class="popular-post">
              <a href="{{ my_post.url | replace: '.html', '' }}"
                 class="ga-event-link"
                 data-event-category="Popular posts"
                 data-event-action="click"
                 data-event-label="{{my_post.title}}">{{ my_post.title }}</a>
              {% if my_post.category %}
                <br />
                <span class="post-category">{{ my_post.category }}</span>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}

        <div class="popular-post">
          <a href="https://github.com/iridakos/table_flipper"
             class="ga-event-link"
             data-event-category="Popular posts"
             data-event-action="click"
             data-event-label="(╯°□°）╯︵ ┻━┻">(╯°□°）╯︵ ┻━┻ (<small>a.k.a. table_flipper gem</small>)</a>
            <br />
            <span class="post-category">code</span>
        </div>
    </div>
</div>
