<div class="alert alert-primary">
  <div class="sidebar-section">
    <div class="section-title">
      <h4><i class="fa fa-hand-spock-o"></i> featured posts</h4>
    </div>

    <div class="section-content">
      {% assign items = (site.posts | sort: 'popular' | reverse) %}
      {% for my_post in items limit:5 %}
        {% if my_post.featured.state == true %}
          <div class="section-item">
            <div class="float-right ml-1">
              {% for publication in my_post.featured.publications %}
                <span class="featured-{{ publication.discriminator }}" title="Featured in {{ publication.site }}" data-toggle="tooltip">{{ publication.logo }}</span>
              {% endfor %}
            </div>
            <a href="{{ my_post.url }}"
               class="ga-event-link"
               data-event-category="Featured posts"
               data-event-action="click"
               data-event-label="{{my_post.title}}">{{ my_post.title }}</a>
             <div class="text-muted smaller">
               {{ my_post.description }}
             </div>
          </div>
        {% endif %}
      {% endfor %}

      <div class="section-item">
        <a href="/featured"
           class="ga-event-link"
           data-event-category="Featured all posts"
           data-event-action="click"
           data-event-label="View all featured posts">View all featured posts</a>
      </div>
    </div>
  </div>
</div>
