{% if page.is_home != true %}
<div class="alert alert-primary">
  <div class="sidebar-section">
    <div class="section-title">
      <h4><i class="fa fa-bullhorn"></i> recent posts</h4>
    </div>

    <div class="section-content">
      {% for p in site.posts limit:3 %}
          <div class="section-item">
            <a href="{{ p.url }}"
               class="ga-event-link"
               data-event-category="Recent posts"
               data-event-action="click"
               data-event-label="{{ p.title }}">{{ p.title }}</a>
            <div class="text-muted smaller">{{ p.description }}</div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
