{% if page.related_posts %}
<div class="alert alert-primary alert-iridakos related-posts">
  <h4><i class="fa fa-cogs" aria-hidden="true"></i> Related posts</h4>

  <ul class="list-unstyled">
  {% for identifier in page.related_posts %}
    {% for post in site.posts %}
      {% if identifier == post.identifier %}
        <li>
          <a class="alert-link ga-event-link" data-event-category="Related posts" data-event-action="click" data-event-label="{{ post.title }}" href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
          <div>
            <small>{{ post.description }}</small>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
</div>
{% endif %}
