{% if page.related_posts %}
<div class="alert alert-light related-posts">
  <h4><i class="fa fa-cogs" aria-hidden="true"></i> Related posts</h4>

  <ul class="list-unstyled">
  {% for identifier in page.related_posts %}
    {% for p in site.posts %}
      {% if identifier == p.identifier %}
        <li>
          <a class="alert-link ga-event-link"
             data-event-category="Related posts"
             data-event-action="click"
             data-event-label="{{ p.title }}"
             href="{{ p.url }}"><strong>{{ p.title }}</strong></a>
          <div>
            <small>{{ p.description }}</small>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
</div>
{% endif %}
