<div class="sharing">
    <p>
        <strong>Share</strong>
    </p>

    <p>
        <a class="share-link ga-event-link" data-event-label="{{ page.title }}" data-event-category="Share to Twitter" data-event-action="click" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
        <a class="share-link ga-event-link" data-event-label="{{ page.title }}" data-event-category="Share to Facebook" data-event-action="click" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
        <a class="share-link ga-event-link" data-event-label="{{ page.title }}" data-event-category="Share to G+" data-event-action="click" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google"></i></a>
        <br />
        <a class="share-link ga-event-link" data-event-label="{{ page.title }}" data-event-category="Share to Reddit" data-event-action="click" href="https://www.reddit.com/submit" onclick="window.location = 'https://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false" title="Share on Reddit"><i class="fa fa-reddit"></i></a>
        <a class="share-link ga-event-link" data-event-label="{{ page.title }}" data-event-category="Share with email" data-event-action="click" href="mailto:?subject={{ site.title }} | {{ page.title }}&amp;body={{ site.title }} | {{ page.title }}: {{ site.url }}"><i class="fa fa-envelope-o" title="Share with email"></i></a>
    </p>

    <p>
        <small>Subscribe <a class="ga-event-link" data-event-label="{{ page.title }}" data-event-category="Subscribe to RSS" data-event-action="click" href="{{ "/feed.xml" | prepend: site.baseurl }}"><strong>via RSS <i class="fa fa-rss"></i></strong></a></small>
    </p>
</div>
