<div class="sidebar">
  {% if page.outline %}
    <div class="alert alert-primary">
      <div class="sidebar-section">
        <a class="ga-event-link btn btn-warning d-block collapsed text-left"
          data-event-label="{{ page.title }}"
          data-event-category="Document outline"
          data-event-action="click"
          title="View the structure of this document"
          role="button"
          data-toggle="collapse"
          href="#docout"
          aria-expanded="false"
          aria-controls="collapse">
          Table of contents
          <i class="fa iridakos-collapse pull-right mt-1"></i>
        </a>

        <div class="section-content">
          <div id="docout" class="collapse mt-3 p-2">

          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if page.is_post %}
    {% include sidebar_related_posts.html %}

    <div class="alert alert-primary d-none d-md-block">
      <div class="sidebar-section">
        <div class="section-content mt-2">
          {% include share-page.html %}
        </div>
      </div>
    </div>
  {% endif %}

  {% include recent_posts.html %}

  {% include popular_posts.html %}

  {% include code.html %}

  {% include news.html %}

  {% if page.is_post != true %}
    <div class="alert alert-primary d-none d-md-block">
      <div class="sidebar-section">
        <div class="section-content mt-2">
          {% include share-page.html %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
