<div class="thanks clearfix">
  <div class="me me-small">
    <a class="ga-event-link" data-event-category="Post about links" data-event-action="click" data-event-label="Go to About page from image" href="/about/"><img src="/assets/images/me.png" style="display:inline-block;height:200px;" /></a>
  </div>

  <div class="text">
    <p>Thank you for visiting!
      <br />
      <a class="ga-event-link" data-event-category="Post about links" data-event-action="click" data-event-label="Go to About page" href="/about/">Lazarus Lazaridis</a>
      <br />
      <a class="ga-event-link" data-event-category="Post about links" data-event-action="click" data-event-label="GitHub" href="https://www.github.com/iridakos/"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a class="ga-event-link" data-event-category="Post about links" data-event-action="click" data-event-label="Twitter" href="https://www.twitter.com/lazaru_s/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a class="ga-event-link" data-event-category="Post about links" data-event-action="click" data-event-label="LinkedIn"  href="https://www.linkedin.com/in/lazaruslazaridis/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </p>
  </div>
</div>
