body {
  background: #fff;
}

.prompt {
  color: $iridakos-secondary-color;
  font-weight: bold;
}

.thumb-in-text {
  display: inline-block;
  height: 20px;
}

.sharing {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;;
  font-size: 14px;

  a.share-link {
    font-size: 40px;
    margin-right: 5px;

    i {
      padding-right: 5px;
    }
  }

  a {
    color: $brand-primary;
  }
}

.outline-button {
  margin-left: 10px;
}

img {
  @include img-responsive;

  &.image {
    max-width: none;
    display: inline-block;
    cursor: default;
  }
}

.page-content img {
  cursor: pointer;
}

.thumbnail {
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  &.contain {
    background-size: contain;
  }
}

blockquote {
  font-size: 16px;
}

#image-modal {
  .image-container {
    overflow: auto;
  }
}

code.highlighter-rouge {
  padding: 4px;
  border: 1px solid #ede0e4;
}

.site-footer {
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
  color: $iridakos-secondary-color;

  .footer-header {
    border-top: 1px solid #ddd;
    margin: 20px 0 10px 0;
    padding-top: 10px;
  }

  .footer-brand-image {
    width: 22px;
    height: 22px;
    display: inline-block;
  }

  li {
    padding-right: 0;
    padding-left: 10px;
  }

  a {
    color: #aaa;
  }
}

.irida {
  margin-top: 20px;
  background: url(../assets/images/irida-favicon-grey.png) bottom center no-repeat;
  height: 80px;
  background-size: contain;
  margin-right: 0;
}

pre {
  code {
    font-size: 14px;
    white-space: pre;
  }
}

a.about-me {
  margin-right: 10px;
}

#disqus_thread {
  margin-top: 40px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.me {
  margin-right: 20px;
  float: left;

  img {
    border-radius: 100px;
    display: inline-block;
    height: 80px;
  }
}

.thanks {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  padding-top: 10px;

  i {
    font-size: 26px;
    margin-top: 3px;
    margin-right: 5px;
  }

  .me {
    margin-left: 0;
    margin-top: 8px;
    float: left;

    &.me-small {
      margin-right: 0;

      img {
        height: 65px;
      }
    }
  }

  .text {
    padding-left: 20px;
    overflow: hidden;
  }
}

.page-header {
  background-color: #0084B4;
  border: 1px solid darken(#0084B4, 8%);
  padding: 10px 0;
  margin-top: 0;

  a, a:visited, a:hover, a:focus {
    color: darken(#0084B4, 20%);
  }

  h1 {
    font-size: 30px;
    font-family: $secondary-font-family;
    font-weight: bold;
    background-color: #fff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  small {
    font-size: 18px;
    color: #f0f0f0;
    text-shadow: none;
  }

  .tags {
    padding-top: 5px;
    color: #f0f0f0;
    font-size: 80%;

    .tags-container {
      color: #f0f0f0;
    }

    a, a:visited, a:hover, a:focus {
      color: #fff;
      font-weight: normal;
    }
  }
}

.page-link {
  font-size: 18px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  background-clip: text;

  &.active {
    color: #fff !important;
  }
}

.navbar {
  font-family: $secondary-font-family;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 18px;

  .navbar-brand {
    font-size: 18px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    background-clip: text;

    &.active {
      color: #fff !important;
    }

    img {
      width: 22px;
      height: 22px;
      display: inline-block;
    }
  }
}

.publish-info {
  border: 1px solid #e0e0e0;
  margin: 20px 0 0 0;
  background: #f0f0f0;
  color: #444;
  padding: 15px;
  font-size: 90%;

  .publisher-image {
    display: inline-block;
    height: 25px;
    border-radius: 5px;
    margin-right: 5px;
  }
}
