/**
 * Site header
 */
.site-header {
    border-top: 0 none;
    border-bottom: 1px solid $grey-color;
    // Positioning context for the mobile navigation icon
    position: relative;
    //background: url('../assets/images/header-back.jpg') no-repeat center center;
    background: darken($grey-color-dark, 12%);
    padding: 10px;
    line-height: 36px;
    min-height: 36px;
}

.site-title {
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &, &:visited {
        color: darken($brand-color, 10%);
    }
}

.site-nav {
    .menu-icon {
        display: none;
    }

    .page-link, .page-link:visited {
        color: darken($grey-color-light, 30%);
        font-size: 16px;
        line-height: $base-line-height;
        padding: 5px;
        white-space: nowrap;

        &.active {
          color: #fff;

          &:after {
            content: "|";
            margin-left: 20px;
            color: darken($grey-color-light, 20%);
          }
        }

        &:after {
          content: "|";
          margin-left: 20px;
          background: none;
        }

        // Gaps between nav items, but not on the last one
        &:last-child:after {
            content: ""
        }

        &:hover {
          color: #fff;
        }
    }

    .separator {
      color: $grey-color-light;
      padding-right: 18px;
    }

    @include media-query($on-palm) {
        .page-link {
          color: $brand-color;

          &:after {
            content: "";
          }
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}
p.contact {
  a {
    margin-right: 10px;
  }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid darken($grey-color-light, 10%);
    margin-top: 0;
    padding: $spacing-unit 0;
    background: $grey-color-light;
    color: $grey-color;
    text-align: center;

    .footer-heading {
        font-size: 20px;
        margin-bottom: 5px;
        color: $brand-color;
        font-weight: bold;
    }

    p {
      margin-bottom: 5px;
    }

    .copyright {
      color: darken($grey-color, 10%);
      font-size: 14px;
    }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    i {
      padding-right: 5px;
      width: 15px;
    }
}

.footer-col-wrapper {
    font-size: 15px;

    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
h2.post-container {
  padding-bottom: $spacing-unit;
  border-bottom: 1px solid darken($grey-color-light, 10%);
}

.page-content {
    padding: $spacing-unit 0 0 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;

        &:last-child {
          h2.post-container {
            border-bottom: 0 none;
          }
        }
    }
}

.post-preview {
  font-size: 14px;
  color: lighten($grey-color-dark, 20%);
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

a.post-link {
    display: block;
    font-size: 24px;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
}

.pagination {
  border: 1px solid darken($grey-color, 8%);
  background: $grey-color;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;

  .more {
    font-weight: normal;

    &:before, &:after {
      content: " ";
      display: block;
      clear: both;
    }
  }

  .previous {
    margin-right: 10px;
  }

  .next {
    margin-left: 10px;
  }

  .page_number {
    margin: 0;
  }

  a, a:hover, a:visited {
    color: $brand-color;
    font-weight: bold;
  }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    color: $brand-color;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-category {
  color: $grey-color;

  .separator {
    color: $brand-color;
  }
}

.projector {
  min-height: 400px;

  background-position: center center;
  background-size: cover;

  &.my-cats {
    height: 850px;
    background-image: url('../assets/images/irida-phoebe.png');
  }
}

.irida {
  margin-top: 10px;
  background: url('../assets/images/irida-grey.png') bottom center no-repeat;
  height: 120px;
  background-size: contain;
}

body.error {
  footer.site-footer {
    margin-top: 0;
  }

  .error-container {
    background: url('../assets/images/404.jpg') bottom center no-repeat;
    margin: $spacing-unit 0 0 0;
    min-height: 400px;
    padding-bottom: 200px;

    .error {
      margin: 50px auto 40px auto;
      width: 600px;
      text-align: center;
      padding: 40px;

      h1 {
        width: 800px;
        position: relative;
        left: -100px;
        letter-spacing: -1px;
        line-height: 36px;
        font-size: 60px;
        font-weight: 100;
        margin: 0px 0 50px 0;
        text-shadow: 0 1px 0 #fff;
        color: $brand-color;

        .subtitle {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }
}
