.news-container {
  margin: -31px 0 30px 0;

  .news-panel {
    border: 1px solid lighten($grey-color, 40%);
    background: rgba(lighten($grey-color, 60%), 0.4);
    padding: 10px;
    border-radius: 0 15px 0 15px;

    &:after {
     content: " ";
     display: block;
     height: 0;
     clear: both;
    }

    .news-title {
      font-weight: bold;
      color: darken($grey-color, 80%);
      padding-bottom: 5px;
      padding-left: 3px;
      color: $brand-color;
    }

    .news-item {
      .news-item-image {
        float: left;
        margin-right: 10px;

        img {
          width: 100px;
        }
      }
    }
  }
}
