.news-container {
  border: 1px solid darken($grey-color-light, 10%);
  margin: 5px 0 30px 0;

  .news-panel {
    &:after {
     content: " ";
     display: block;
     height: 0;
     clear: both;
    }

    .news-title {
      border-bottom: 1px solid darken($grey-color-light, 10%);
      font-weight: bold;
      padding: 10px;
      color: #444;
      background: #f0f0f0;

      i {
        padding-right: 4px;
      }
    }

    .news-content {
      padding: 20px 10px;;

      .news-item {
        .news-item-image {
          float: left;
          margin-right: 10px;

          img {
            width: 100px;
          }
        }
      }
    }
  }
}
