.post {
  .post-title {
    font-size: 120%;
    font-weight: bold;
  }

  .post-preview {
    p {
      margin-bottom: 5px;
    }
  }

  & + .post {
    margin-top: 20px;
  }

  .post-metadata {
    color: $gray-600;
    font-size: 80%;

    .post-date {
      display: inline-block;
    }

    .post-category {
      display: inline-block;
    }
  }

  .post-tags {
    color: $iridakos;
    font-size: 80%;
  }
}

.posts-container {
  hr:last-child {
    display: none;
  }
}

.page-title-container {
  .post {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid $gray-800;

    .post-metadata, .post-tags, .post-tags i {
      color: $gray-800;
      font-size: 70%;
    }
  }
}
