.sidebar {
  padding-top: 5px;
  margin-top: 10px;

  hr {
    border-top: 1px solid #555;
    margin: 10px 0;
  }

  a {
    color: lighten(#0084B4, 10%);
  }

  .sticky {
    margin-top: 10px;
  }

  .sidebar-panel {
    border: 0 none;
    background: none;
    color: #afafaf;
    margin-bottom: 15px;

    .panel-heading {
      padding: 0 5px 8px 0;
      font-family: $secondary-font-family;

      .panel-title {
        font-size: 20px;
        font-weight: bold;
        color: #aaa;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
        padding-bottom: 5px;
        border-bottom: 1px solid #aaa;
      }
    }
  }

  p.no-margin {
    margin-bottom: 2px;
  }

  .popular-post {
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
    margin-bottom: 5px;

    .post-category {
      font-size: 80%;
      color: #afafaf;
    }

    &:last-child {
      border-bottom: 0 none;
    }
  }

  .panel-body {
    padding: 0 5px 0 0;
  }

  .share-link {
    color: #202020;
    text-shadow: 1px 1px 1px rgba(200,200,200,0.2);

    i {
      padding-right: 5px;
    }

    &:hover, &:focus {
      color: #aaa;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    }
  }
}
