$sidebar-color: #2C72C8;

.sidebar {
  .alert {
    box-shadow: 0 0 4px rgba($sidebar-color, 10%);
    padding: 0.75rem;
    background: lighten($sidebar-color, 51%);
    border: 1px solid lighten($sidebar-color, 45%);
    color: darken($sidebar-color, 30%);
  }

  .sidebar-section {
    font-size: 90%;

    .section-title {
      font-family: 'Indie Flower', cursive;
      font-size: 130%;
      font-weight: bold;
      color: $sidebar-color;
    }

    .section-content {
      border-top: 0 none;

      a, a:link, a:hover, a:visited {
        color: darken($sidebar-color, 5%);
      }

      .section-item {
        & + .section-item {
          margin-top: 5px;
          padding-top: 5px;
          border-top: 1px solid lighten($sidebar-color, 44%);

          img.logo {
            max-height: 20px;
            display: inline;
          }
        }
      }
    }

    & + .sidebar-section {
      margin-top: 20px;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .sidebar {
    margin-top: 20px;
  }
}
