.sidebar {
  margin-top: 10px;
  border-radius: 3px;

  hr {
    border-top: 1px solid rgba(27,31,35,0.15);
    margin: 10px 0;
  }

  a {
    color: lighten(#0084B4, 10%);
  }

  .sticky {
    margin-top: 10px;
  }

  .sidebar-panel {
    color: #444;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 5px;

    .panel-heading {
      font-family: $secondary-font-family;
      background: rgb(246, 248, 250);
      border-bottom: 1px solid rgba(27,31,35,0.15);

      .panel-title {
        font-size: 16px;
        font-weight: bold;
        color: #444;
      }
    }
  }

  p.no-margin {
    margin-bottom: 2px;
  }

  .popular-post {
    border-bottom: 1px solid rgba(27,31,35,0.15);
    padding-bottom: 5px;
    margin-bottom: 5px;

    .post-category {
      font-size: 80%;
      color: #afafaf;
    }

    &:last-child {
      border-bottom: 0 none;
    }
  }

  .share-link {
    i {
      padding-right: 5px;
    }
  }
}
