.footer {
  padding: 10px 0 5px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 200px;
  background: url('/assets/images/footer.png') no-repeat bottom left;
  background-size: contain;
  font-family: "Indie flower";
  font-size: 110%;
  text-align: center;
  color: $gray-800;

  .license {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    padding: 5px;

    a, a:visited, a:hover, a:link {
      margin-left: 0;

      & + a {
        margin-left: 0;
      }
    }
  }

  a, a:visited, a:hover, a:link {
    color: $iridakos;
    font-weight: bold;
    padding: 5px;

    & + a {
      margin-left: 5px;
    }
  }
}

@media(max-width: 756px) {
  .footer {
    background: $iridakos;
    color: $white;

    a, a:link, a:visited, a:hover {
      color: lighten($iridakos, 63%);
    }
  }
}
