<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="container-fluid no-gutters">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-9 order-first order-md-last">
          {% if page.outline %}
              <div class="pull-right">
                    <a class="ga-event-link btn btn-outline-primary btn-sm outline-button collapsed"
                      data-event-label="{{ page.title }}"
                      data-event-category="Document outline"
                      data-event-action="click"
                      title="View the structure of this document"
                      role="button"
                      data-toggle="collapse"
                      href="#docout"
                      aria-expanded="false"
                      aria-controls="collapse">
                      Table of contents
                      <i class="fa iridakos-collapse"></i>
                    </a>
              </div>
          {% endif %}

          {% if page.outline %}
            <div id="docout" class="collapse">

            </div>

            <div class="outline page-content">
              {{ content }}
            </div>
          {% else %}
            <div class="page-content">
              {{ content }}
            </div>
          {% endif %}

          {% if page.is_post %}
            {% include related_posts.html %}

            <div class="alert alert-light">
              <h4>
                <i class="fa fa-share"></i>
                Share this page
              </h4>
              {% include share-page.html %}
            </div>
          {% endif %}


        </div>

        <div class="col order-last order-md-first">
          {% include sidebar.html %}
        </div>
      </div>
    </div>


    {% include image-modal.html %}
    {% include footer.html %}
    {% include analytics.html %}
    {% include javascripts.html %}
  </body>
</html>
