---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
              <h1>{{ page.menu_title }}<br/><small>{{ page.subtitle }}</small></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-9">
            {{ content }}
        </div>

        <div class="col-xs-12 col-md-3">
            {% include news.html %}

            {% include popular_posts.html %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% include share-page.html expanded=true %}
        </div>
    </div>
</div>
