---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
              <h1>
                  {{ page.title }}<br/>
                  <small><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y - %H:%M" }}</time></small>
              </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-9">
            <article itemscope itemtype="http://schema.org/BlogPosting">
              <div itemprop="articleBody">
                {{ content }}
              </div>
            </article>

            {% include disqus.html %}
        </div>

        <div class="col-xs-12 col-md-3">
            {% include news.html %}

            {% include share-page.html %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 hidden-sm hidden-xs">
            {% include share-page.html %}
        </div>
    </div>
</div>
