---
layout: default
---

<div class="container" {% if page.outline %}id="outline"{% endif %}>
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                {% if page.outline %}
                    <div class="pull-right">
                          <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse">
                            Outline
                          </a>
                    </div>
                {% endif %}

              <h1>
                  {{ page.title }}
                  <br/>
                  <small><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y - %H:%M" }}</time> {% if page.category %}| <span itemprop="">{{ page.category }}</span> {% endif %}</small>
              </h1>
            </div>
        </div>
    </div>

    {% if page.outline %}
        <div class="panel panel-default collapse" id="collapse">
            <div class="panel-heading">
                <strong class="panel-title">Post outline</strong>
            </div>

            <div class="panel-body" id="docout">

            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-md-9">
            <article itemscope itemtype="http://schema.org/BlogPosting">
              <div itemprop="articleBody">
                {{ content }}
              </div>
            </article>

            <div class="row">
                <div class="col-xs-12 hidden-sm hidden-xs">
                    {% include share-page.html %}
                </div>
            </div>

            {% include disqus.html %}
        </div>

        <div class="col-xs-12 col-md-3">
            {% include news.html %}

            {% include popular_posts.html %}

            {% include share-page.html %}
        </div>
    </div>
</div>
